.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

.withBorder {
  border-bottom: 1px solid var(--color-text-secondary);
}

.profilePicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font: var(--font-body);
  color: var(--color-text-primary);
}